body {
  margin: 0;
  padding: 0;
  background-color: #2a2a2a;
  background-image: url(bg.svg);
  font-family: 'Roboto', sans-serif;
  /* position: relative; /* for touch devices navigation */
  overflow: hidden; 
}

p {
  margin: 0;
  padding: 0;
}

p~p {
  margin-top: 10px;
}

.container {
  position: relative; }

button {
  background-color: #555;
  color: #fff;
  text-decoration: none;
  padding: .2rem .5rem;
  display: inline-block;
  transition: all 500ms;
  border: 2px solid #555; }
  button:hover {
    background-color: #fff;
    border: 2px solid #555;
    color: #555; }

#options {
  display: none; }
  #options.active {
    display: inline-block; }

.options__content {
  display: inline; }

#info-coords {
  color: #fff;
  font-size: .8em; }

.node {
  position: absolute;
  left: 500px;
  top: 400px;
  z-index: 10;
  margin: 0;
  padding: 15px 20px;
  /* text-justify: newspaper; */
  cursor: pointer;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.3rem;
  color: #fff;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5); }

.badge {
  position: absolute;
  left: 500px;
  top: 400px;
  width: 100px;
  height: 100px;
  z-index: 10;
  cursor: pointer;
  padding: 0;
  border-radius: 100%;
  background-color: transparent;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5); }
  .badge__text {
    font-size: 16px;
    font-weight: 100;
    fill: #fff; }
  .badge__path {
    fill: transparent; }
  .badge__bg {
    stroke: #fff;
    stroke-miterlimit: 10; }

.connections {
  z-index: -1; }

.plug {
  z-index: 10;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff; }

.link {
  position: absolute; }
  .link--top-left {
    border-top-left-radius: 50px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff; }
  .link--top-right {
    border-top-right-radius: 50px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff; }
  .link--bottom-left {
    border-bottom-left-radius: 50px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff; }
  .link--bottom-right {
    border-bottom-right-radius: 50px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff; }

.arrow {
  position: absolute;
  width: 0;
  height: 0; }
  .arrow--up {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #fff; }
  .arrow--down {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid #fff; }
  .arrow--right {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 14px solid #fff; }
  .arrow--left {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 14px solid #fff; }

/* This to prevent clicks to select svg child elements */
.node-container > * > * {
  pointer-events: none;
}