body {
    margin: 0;
    padding: 0;
    background-color: rgb(42, 42, 42);
    font-family: 'Roboto', sans-serif;
    }
  
.container {
  position: relative;
}

#infoCoords {
  color: #fff;
  font-size: .8em;
}
.node {
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 30px;
  cursor: pointer;
  font-weight: 100;
  color: #fff;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #000;
  /* transition: left 1s;
  transition: top 1s; */
}

#node1 {
  background-color: rgb(67, 73, 66);
  /* transition: transform 1s; */
  top: 50px;
  left: 50px;
}

#node2 {
  background-color: rgb(73, 69, 66);
  top: 200px;
  left: 700px;
}

#node3 {
  background-color: rgb(66, 70, 73);
  top: 500px;
  left: 100px;
}

#node4 {
  background-color: rgb(73, 66, 69);
  top: 700px;
  left: 200px;
}

#node5 {
  background-color: rgb(73, 66, 73);
  top: 300px;
  left: 1000px;
}

#node6 {
  background-color: rgb(73, 72, 66);
  top: 600px;
  left: 1100px;
}

.connections {
  z-index: -1;
}

.plug {
  z-index: 10;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
}

.link {
  position: absolute;
}

.link--top-left {
  border-top-left-radius: 50px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.link--top-right {
  border-top-right-radius: 50px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  
}
.link--bottom-left {
  border-bottom-left-radius: 50px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}

.link--bottom-right {
  border-bottom-right-radius: 50px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.arrow {
  position: absolute;
  width: 0; 
  height: 0; 
}

.arrow--up {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid #fff;
}

.arrow--down {   
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 14px solid #fff;
  
}

.arrow--right {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 14px solid #fff;
}

.arrow--left {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right:14px solid #fff; 
}
